body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.navMenu{
    margin: auto;
}

.navMenu ul {
    list-style: none;
}
.navMenu ul li {
    display: inline-block;
}
header{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: cadetblue;
}
.navMenu ul li a{
    text-decoration: none;
    color:rgb(223, 216, 206);
    margin-left: 20px;
}

.navMenu ul li a:hover{
    color: white;
}

article{
    background-color: rgb(235, 224, 209);
    margin: 10px 35px 30px 40px;
    display: inline-block;
    border: 1px saddlebrown solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(194, 168, 112), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    max-width: 28%;
    border-radius: 5px;


}
article h2{
    text-align: center;
}
.mainParagraf{
    margin: 10px;
}




footer{
    padding: 10px 0;
    background-color: cadetblue;
    margin-top: 40px;
    
    width: 100%;
}