body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.navMenu{
    margin: auto;
}

.navMenu ul {
    list-style: none;
}
.navMenu ul li {
    display: inline-block;
}
header{
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: cadetblue;
}
.navMenu ul li a{
    text-decoration: none;
    color:rgb(223, 216, 206);
    margin-left: 20px;
}

.navMenu ul li a:hover{
    color: white;
}

.mainArticle{
    background-color: rgb(235, 224, 209);
    margin: 10px 35px 30px 40px;
    display: inline-block;
    border: 1px saddlebrown solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(194, 168, 112), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    max-width: 28%;
    border-radius: 5px;


}
.mainArticle h2{
    text-align: center;
}
.mainParagraf{
    margin: 10px;
}

.aboutArticle{
    margin: 40px;
    margin-top: 100px;
}

.aboutArticle button{
    background-color: rgb(155, 94, 15);
    color:rgb(223, 216, 206);
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    
}
.aboutArticle button a{
    text-decoration: none;
    color:rgb(223, 216, 206);
}

.aboutArticle button a:hover{
    color: white;
    
}

.contactArticle{
    margin: 40px;
    margin-top: 100px;
    
}

.formGroup{
    margin: 10px;
}
.formGroup label{
    display: block;
    color:rgb(155, 94, 15);
}
.formGroup input{
    width: 40%;
    padding: 5px 0;
    margin-top: 4px;
    background-color: rgb(235, 224, 209);
    border-image: 
    linear-gradient(
      to left, 
      rgb(194, 168, 112), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    
}
::-webkit-input-placeholder{
    color:rgb(185, 147, 96);
}
.formGroup textarea{
    border-image: 
    linear-gradient(
      to left, 
      rgb(194, 168, 112), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#submitBtn:hover{
background-color: rgb(194, 168, 112);
cursor: pointer;
}

footer{
    padding: 10px 0;
    background-color: cadetblue;
    margin-top: 40px;
    
    width: 100%;
}